 html {
  height: 100%;
}

body {
  background: linear-gradient(top, #116E05 6%, #022729 100%);
  background: -webkit-linear-gradient(top, #116E05 6%, #022729 100%);
  background: -moz-linear-gradient(top, #116E05 6%, #022729 100%);
  background: -o-linear-gradient(top, #116E05 6%, #022729 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Bree Serif', serif;
  color: white;
  font-weight: 100;
}

.wrapper {
  margin-left: 5%;
  margin-top: 5%;
}
.wrapper h1 {
  font-size: 50px;
  margin-top: 0;
}
.wrapper h3 {
  margin-bottom: 0;
}
.wrapper span {
  display: inline-block;
  text-align: left;
  font-size: 26px;
}
.wrapper img {
  width: 40px;
  margin: 80px 10px 0px 10px;
}
.wrapper a {
  color: white;
  margin: 20px;
}
.wrapper i {
  padding: 10px;
  border: 2px solid white;
  border-radius: 50%;
}
.wrapper .social {
  position: relative;
  margin-top: 50px;
}

span.cursor {
  font-size: 35px;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@media (max-width: 768px) {
  .wrapper h1 {
    font-size: 34px;
  }
  .wrapper h3 {
    font-size: 28px;
  }
  .wrapper span {
    font-size: 22px;
  }
  .wrapper .social {
    text-align: center;
  }
  .wrapper .social i {
    font-size: 22px;
  }
  .wrapper .social a {
    margin: 5px;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

